body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 10px 0;
}

.chatbox {
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
}

.container.me {
  flex-direction: row-reverse;
}

.me .chatbox {
  background-color: #0470db;
  color: #fff;
}

.btm {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.input {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  background-color: #73b913;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5f990f;
}

.chat-container {
  background-image: url("https://wallpapercave.com/wp/wp10254485.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 130px);
  overflow-y: scroll;
  background-color: rgba(226, 83, 83, 0.726);
}

h1 {
  text-align: center;
  color: #333;
}

/* Input for entering the username */
input[type="text"][placeholder="Enter Name to Start Chat"] {
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
}

/* Media Query for responsive design */
@media (max-width: 600px) {
  .container {
    margin: 5px 0;
  }

  .chat-container {
    max-height: 60vh;
  }
}
